<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang chi tiết sản phẩm</h1>
        <p>Trang này hiển thị danh sách sản phẩm kèm ảnh</p>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="square-image">
                            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-14_1.png"
                                class="product-image" alt="Product Image">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="square-image">
                            <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/p/h/photo_2022-09-28_21-58-54_1.jpg"
                                class="product-image" alt="Product Image">
                        </div>
                    </div>
                    <button class="carousel-control-prev button-color" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next button-color" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="product-details">
                <h2>Thông tin chi tiết mô tả sản phẩm</h2>
                <p>Mô tả sản phẩm</p>
                <p>Giá: 12.000.000</p>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
                <div class="product-quantity">
                    <div class="border-wrapper">
                        <button>-</button>
                        <input type="text" value="1">
                        <button>+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-5">
            <div class="thumbnail-container">
                <div class="thumbnail-item active">
                    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/p/h/photo_2022-09-28_21-58-56.jpg"
                        class="thumbnail-image" alt="Thumbnail Image">
                </div>
                <div class="thumbnail-item">
                    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/p/h/photo_2022-09-28_21-58-56.jpg"
                        class="thumbnail-image" alt="Thumbnail Image">
                </div>
                <div class="thumbnail-item">
                    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/p/h/photo_2022-09-28_21-58-56.jpg"
                        class="thumbnail-image" alt="Thumbnail Image">
                </div>
                <div class="thumbnail-item">
                    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/p/h/photo_2022-09-28_21-58-56.jpg"
                        class="thumbnail-image" alt="Thumbnail Image">
                </div>
            </div>
        </div>
        <div class="col-md-7">

        </div>

    </div>


</div>
<br>
<app-footer></app-footer>